/* ---------------Website Layout - 2 column-------- */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
   margin: 0;
   height: 100%;
   background: #fcfcfc;
   overflow-x: hidden;
   font-family:Arial, Helvetica, sans-serif;
}


/*create two equal columns that floats next to each other  */
.column{
    float:left;
    width:50%;
    padding: 15px;
}

/* clear floats after the columns */
.row::after{
    content: "";
    display: table;
    clear: both;

}

/*-------- Responsive layout - makes the three columns stack on top of each other instead of next to each other ---------*/
@media screen and (max-width:600px) {
    .column{
        width: 100%;
    }
}
/*-------xx Media queries for Responsiveness : Web Layout :END xx-------*/

/* xx------------ Website Layout: END --------------xx  */
/* ---------------Navigation Bar--------------- */
.main_nav{
    font-family: monospace;
    font-weight:bolder;
    font-size: large ;
}
ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: right;
    border-right: solid 1px white;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

ul.topnav li a:hover{
    background-color: #000000;
}

ul.topnav li .active {
    background-color: #04aa6d;
}

ul.topnav li.left{
    float: left;
}

/* responsiveness - media queries for nav bar */
@media screen and (max-width: 600px){
    ul.topnav li.left,
    ul.topnav li {float: none;}
}
/* --------------Navigation bar : END------------- */
/* ----------Header----------- */
.header{
    background-color: #f1f1f1;
    padding: 20px;

}
/* ----------Header : END */


/*-------Main Title------- */
#main_head{
    font-family: sans-serif;
    font-variant:small-caps;
    font-size: 35px;
    border:solid 1px black;
    padding: 0 10px;
}
/*-------Main Title : END------- */

/* -----hero image-------- */
.hero_image{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/venu_pic_hero.png");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    text-align: center;
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text p{
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: 20px;

}
.hero-text button{
    margin: 10px;
    box-sizing: border-box;
    border:2px solid #b00020;
    border-radius: 20px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #b00020;
    background-color: #ffffff;
    text-align: center;
    cursor:pointer;
    font-variant: small-caps;
    font-family:sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.hero-text button:hover{
    transition: 0.3s;
    background-color: #555;
    color:white;
}
/* -------hero image : END---------- */
/* .row{
    box-sizing: border-box;
    /* border: 2px solid #0336ff; */
    /* background-color: #ffde03; */
    /* border-radius: 8px; */
/* } */ 

/* .about h3:nth-child(1){
    color: #ff0266;
} */

/* ---------collapsible-------- */
.collapsible{
    margin: 5px;
    background-color: #fcfcfc;
    color: black;
    transition: all 400ms;
    cursor:pointer;
    padding: 12px;
    width: 100%;
    border:none;
    font-variant: small-caps;
    text-align: center;
    outline: none;
    font-size: 18px;
}
.active, .collapsible:hover{
    transition:all 0.4s;
    font-size:20px;
}

.collapsible:after{
    content: '\002B';
    color: black;
    font-weight: bold;
    float: left;
    margin-right: 10px;
    
}
.collapsible::before{
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 10px;
}
.active:after{
    content: "\2212";
    /* color:black; */
}
.active:before{
    content: "\2212";
    /* color:black; */
}
.content{
    position:relative;
    padding: 0 18px;
    max-height:0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    /* background-color: #7A6563; */
    /* color: white; */
    font-family: sans-serif;
    /* text-align: justify; */
}
.content_child_1, .content_child_2{
    text-align: justify;
}
.content_child_1 p, .content_child_2 p, .content_child_3 p{
    margin: 41px;
    font-size: 21px;
}
.content_child_1 p span{
    margin-left: 12%;
    color: #FC7D29;
    font-size: 25px;
}
.content_child_2 p span{
    margin-left: 12%;
    color: #10b47e;
    font-size: 25px;
}
.edu_sum_up ul{
    /* border: 1px solid black; */
    margin-left:19vw;
    font-family: sans-serif;
    font-size: 19px;
}
.edu_sum_up ul li{
    padding: 15px;
}
.content_child_3 p span{
    margin-left: 12%;
    color: #1fc9f3;
    font-size: 25px;
}
/* ------------SKills skill-bar----------- */
#pro_skills{
    /* text-decoration: underline; */
    color: rgb(84, 219, 84);
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(84, 219, 84);
}
#pro_skills::after{
    content: "\003C"" \002F"" \003E";
    float: right;
    margin-left: 10px;
}
/* to make sure that padding behaves as expected set *{box-sizing:border-box} */
/* Container for skill bars */
.skills_container{
    /*Full width*/
    width: 86%;
    background-color: #ddd;
    /* border: 1px solid black; */
    height: 2px;
    overflow: hidden;
    border-radius: 10px;
    margin-left:41px;
    /* margin-right: 40px; */
    /* display: none; */
}
.skills{
    /* position: relative; */
    /* overflow: hidden; */
    /* border-top-right-radius: 10px; */
    text-align: right;
    padding-top: 2px;
    padding-bottom: 10px;
    color: black;
    /* border: 10px solid black; */
    /* font-family: sans-serif; */
    /* font-weight: bold; */
    /* font-variant: small-caps; */
    /* display: none; */
}
.html{
    width: 70%;
    background-color: #04aa6d;
    /* transition:ease-in 10s; */
}
.frontend{
    width: 60%;
    background-color: #2196f3;
}
.backend{
    width: 50%;
    background-color: #f44336;
}
.website_design{
    width: 60%;
    background-color: #808080;
}
.css{
    width: 70%;
    background-color: #fcb10f;
}
.django{
    width: 40%;
    background-color: #63b10a;
}
.python{
    width: 67%;
    background-color: #3c17df;
}
.golang{
    width: 62%;
    background-color: #8517df;
}
.kayatri_logo{
    /* background-image: linear-gradient(rgb(85, 79, 73), rgba(0, 0, 0, 0.925)); */
    position: relative;
    max-width: 450px;
    height: 200px;
    margin: 30% auto;
    /* border: 2px solid rgb(247, 107, 42); */
    border-radius: 30px;
    overflow: hidden;
}
@media screen and ( max-width : 600px){
    .kayatri_logo{
        margin: 10px auto auto 1%;
    }
}
.circular_k{
    text-align: center;
    /* position:absolute; */
    margin-top: 6%;
    margin-left: 31%;
    /* border: 1px solid black; */
    display: inline-block;
    border-radius: 80%;
    /* transform: translate(50%,50%); */
    background-color: black;
}
.circular_k p{
    text-align: center;
    padding: 10px 40px 10px 40px;
    color: white;
    font-size: 100px;
    font-variant: small-caps;
    font-family: sans-serif;
}
.kayatri_text h3{
    text-align: center;
    /* border: 1px solid black; */
    font-size: 30px;
    font-variant: small-caps;
    font-family: sans-serif;
}
.kayatri_text p {
    margin: 30px;
    font-size: 21px;   
}
.content_child_5 ul{
    list-style: none;
    list-style-type: none;
    text-align: center;
}
.content_child_5 ul li{
    display: inline-block;
    position: relative;
    margin: 5px;
    /* text-align: center; */
}
.content_child_5 div{
    position: relative;
    
    height: 150px;
    width: 300px;
    border: 1px solid black;
}
.certificates div{
    /* position: absolute; */
    border: none;
    box-sizing: border-box;
    height: 40%;
    /* width: 50px; */
    position:absolute;
    bottom: 0;
    /* background: rgb(13, 110, 253); Fallback color */
    /* background: rgba(13, 110, 253, 0.5); Black Background with 0.5 opacity */
    color: #f1f1f1;
    width:100%;
    padding: 5%;
    font-family: sans-serif;
}
.certificates div a {
    text-decoration: none;
}
.certificates div a button{
    width: 50%;
    height: 100%;
    /* font-size: 15px; */
    /* font-weight: bold; */
    font-variant: small-caps;
    background-color:rgba(5, 9, 255, 0.562);
    color: white;
    border-style: none;
    font-family: sans-serif;
    cursor: pointer;
}
.certificates div a button:hover{
    background-color:rgb(59, 5, 255);
    transition: ease-out 500ms;
}
#python_001{
    /* background-repeat: none; */
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/images/python_001.png");
    /* border: none; */
}
#soft_eng{
    /* background-repeat: none; */
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/images/certificate_se.png");
    /* border: none; */
}
#linux{
    /* background-repeat: none; */
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/images/certificate_linux.png");
    /* border: none; */
}
#python_002{
    /* background-repeat: none; */
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/images/python_002.png");
    /* border: none; */
}
#git{
    /* background-repeat: none; */
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/images/certficate_git.png");
    /* border: none; */
}

/* @media screen and (max-width: 600px){
    {
        width: 100%;
    }
} */
/* --------xxxxxxx---collapsible---xxxxxxxxxxxx--------- */

/* --------Styling Footer--------------- */
footer{
    font-family: sans-serif;
    position:static;
    bottom: 0;
    left:0;
    right: 0;
    background: #111;
    height:auto;
    width:100vw;
    text-align: center;
    padding-top:40px;
    color: #fff;
}
.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer_content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer_content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size:14px;
    color: #cacdd2
}
.footer-bottom{
    background: #000;
    width:100vw; /*----- VW --------- */
    padding: 5px;
    padding-bottom: 10px;
    text-align:center;
}
.footer-bottom p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration:none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .5;
    font-weight: 200;
    float:left;
}
@media screen and (max-width:600px){
    .footer-menu ul{
        display:flex;
        margin-top:10px;
        margin: bottom 20px;
    }
}

ul.socials{
    position: static;
    top:50%;
    left:50%;
    transform:translate(0%,0%);
    margin:0;
    padding:0;
    display:flex;
    
}
ul.socials li{
    list-style: none;
}
ul.socials li a {
    display:block;
    position:relative;
    width:30px;
    height:30px;
    line-height:15px;
    font-size:15px;
    text-align:center;
    text-decoration:none;
    color:#404040;
    margin:30px 20px;
    transition:.5s;
}
ul.socials li a span{
    position: absolute;
    transition:transform .5s;
}
ul.socials li a span:nth-child(1),
ul.socials li a span:nth-child(3){
    width:40px;
    height:2px;
    background:#404040
}
ul.socials li a span:nth-child(1) {
    top: -.2cm;
    left: -.1cm;
    transform-origin:right;
}
ul.socials li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
}
  
ul.socials li a span:nth-child(3) {
    bottom:-.2cm;
    left:-.1cm;
    transform-origin: left;
}
ul.socials li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
}
  
ul.socials li a span:nth-child(2),
ul.socials li a span:nth-child(4){
    width:4px;
    height:100%;
    background:#404040;
}
ul.socials li a span:nth-child(2) {
    top:0cm;
    left:-.2cm;
    transform:scale(0);
    transform-origin: bottom;
}
ul.socials li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
}
ul li a span:nth-child(4) {
    top:0;
    right:-.2cm;
    transform:scale(0);
    transform-origin: top;
}
ul.socials li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
}
#facebook:hover{
    background:#3b5998
}
#facebook:hover span{
    background: #3b5998;
}
#twitter:hover{
    background:#1da1f2;
}
#twitter:hover span{
    background: #1da1f2
}
#instagram:hover{
    background: #c32aa3;
}

#instagram:hover span{
    background:#c32aa3;
}
#linkedin:hover{
    background: #f5f6f7;
}
#linkedin:hover span{
    background: #17b1e0;
}



/* ---------footer : END --------------------- */